[mysqld]
wsrep_sst_auth  = "backup:Mt2(8eH5232Nb$3dw8s"

[mariabackup]
user            = backup
password        = 'Mt2(8eH5232Nb$3dw8s'

[mysqldump]
user            = backup
password        = 'Mt2(8eH5232Nb$3dw8s'

[mysql]
user            = backup
password        = 'Mt2(8eH5232Nb$3dw8s'

[mysqladmin]
user            = backup
password        = 'Mt2(8eH5232Nb$3dw8s'

[client]
user            = backup
password        = 'Mt2(8eH5232Nb$3dw8s'
